*ls*         выводит содержимое текущей директории (ls имя_директории)
*ls -a*      выводит содержимое текущей директории включая скрытые файлы
*ls somedir* выводит содержимое директории somedir
*ls ~*       выводит содержимое домашней директории
*ls cm**     выводит содержимое директорий начинающихся на "cm"
*ls ?ouse*   выведет содержимое директорий house, mouse, но не grouse(только один любой символ впереди)

*mkdir* создает директорию (mkdir имя_директории)

*cd* - переход в директорию
*cd ..* - переход в родительскую директорию
*pwd* - выводит полный путь текущей директории

*cp file1 file2* копирует файл file1 в file2

*mv file1 file2* переносит или переименовывает file1 в file2

*rm file1.txt* удаляет файл
*rmdir* удаляет директорию

cat file1 выводит содержимое файла
less file1 выводит содержимое файла постранично

head file - выводит первые несколько строк содержимого файла
tail file - выводит последние несколько строк содержимого файла

grep 'science' science.txt - выводит строки файла science.txt в котором найдено слово 'science'
-v выводит строки которые не совпадают с искомым словом
-n выводить с номерами строк
-c выводит только кол-во строк
-i независимо от регистра

wc -w science.txt выводит кол-во слов в файле
wc -l science.txt выводит кол-во строк в файле

cat > file1.txt создает файл и ожидает построчного ввода
cat >> list1    тоже самое, но не создает файл а добавляет содержимое в конец существующего файла
cat file1.txt file2.txt >  file3.txt объединяет два файла в один

who выводит залогиненых пользоваителей системы

apropos кeyword выводит комманды в описании которых встречается кeyword
