`ls`        выводит содержимое текущей директории (ls имя_директории)

`ls -a`      выводит содержимое текущей директории включая скрытые файлы

`ls somedir` выводит содержимое директории somedir

`ls ~`       выводит содержимое домашней директории

`ls cm`     выводит содержимое директорий начинающихся на "cm"

`ls ?ouse`   выведет содержимое директорий house, mouse, но не grouse(только один любой символ впереди)

`mkdir` создает директорию (mkdir имя_директории)

`cd` - переход в директорию

`cd ..` - переход в родительскую директорию

`pwd` - выводит полный путь текущей директории

`cp file1 file2` копирует файл file1 в file2

`mv file1 file2` переносит или переименовывает file1 в file2

`rm file1.txt` удаляет файл

`rmdir` удаляет директорию

`cat file1` выводит содержимое файла

`less file1` выводит содержимое файла постранично

`head file` - выводит первые несколько строк содержимого файла

`tail file` - выводит последние несколько строк содержимого файла

`grep 'science' science.txt` - выводит строки файла science.txt в котором найдено слово 'science'
*-v* выводит строки которые не совпадают с искомым словом
*-n* выводить с номерами строк
*-c* выводит только кол-во строк
*-i* независимо от регистра

`wc -w science.txt` выводит кол-во слов в файле

`wc -l science.txt` выводит кол-во строк в файле

`cat > file1.txt` создает файл и ожидает построчного ввода

`cat >> list1`    тоже самое, но не создает файл а добавляет содержимое в конец существующего файла

`cat file1.txt file2.txt >  file3.txt` объединяет два файла в один

`who` выводит залогиненых пользователей системы

`apropos кeyword` выводит команды в описании которых встречается кeyword

<br/>
####Права####
`ls -l` помимо содержание директории показывает права на директории, файлы:
`
drwxrwxr-x 6 os os  4096 Jan 11 15:32 Ubuntu One
drwxrwxr-x 4 os os  4096 Nov  7 17:27 VirtualBox VMs
drwxr-xr-x 2 os os  4096 Oct  9 00:25 Видео
drwxr-xr-x 3 os os  4096 Jan 10 17:02 Документы
-rw-rw-r-- 1 os os     0 Jan 25 15:40 file`

Слева колонка из 10 символов, которые могут быть d,r,w,x и иногда s. Если первым символом идет 'd', значит это директория, иначе'-',
что значит файл.
Остальные 9 делятся на 3 группы, по три символа.  Первая группа означает права доступа к файлу/директории для
пользователя-обладателя(тот кто создал). Вторая группа означает права для группы пользователей кому принадлежит файл/директория.
И последняя группа означает права для всех остальных пользователей.

**значения символов для файлов**
*r (или -)* наличие или отсутствие разрешения на чтение и копирование файлов
*w (or -)*  наличие или отсутствие разрешения на запись, изменения файлов
*x (or -)*  наличие или отсутствие разрешения на выполнение файлов

**значения символов для директорий**
r - право на просмотр содержимого директории
w - право на удаление файлов в директории или перемещение в нее файлов
x - право на чтение файлов в директории

`-rwxrwxrwx` файл, который каждый может читать, писать в него и исполнять.
`-rw-------` файл, который может только хозяин и только читать и писать в него.

`chmod(изменение прав)`

Только хозяин файла может изменять права файла/директории.

значение символов

<table class="table table-bordered">
    <tr>
        <th width="10">Символ</th>
        <th>Значение</th>
    </tr>
    <tr>
        <td>u</td>
        <td>user</td>
    </tr>
    <tr>
        <td>g</td>
        <td>группа</td>
    </tr>
    <tr>
        <td>o</td>
        <td>остальные</td>
    </tr>
    <tr>
        <td>a</td>
        <td>все</td>
    </tr>
    <tr>
        <td>r</td>
        <td>чтение</td>
    </tr>
    <tr>
        <td>w</td>
        <td>запись и удаление</td>
    </tr>
    <tr>
        <td>x</td>
        <td>исполнение</td>
    </tr>
    <tr>
        <td>+</td>
        <td>дать право</td>
    </tr>
    <tr>
        <td>-</td>
        <td>забрать право</td>
    </tr>
</table>

Пример, как забрать право на чтение, запись и исполнение для файла biglist для группы и всех остальных.

`chmod go-rwx biglist`

**процессы**

`ps` показывает запущенные процессы

`sleep 5` команда которая ждет 5 секунд

`sleep 5 &` тоже самое, но не блокирует консоль на 5 секунд, так как исполняется в фоне(background)

















