**1)Узнать о том, что запрос ожидает блокировку на уровне сервера, можно из результатов команды SHOW PROCESSLIST.**

**2)Помимо блокировок на уровне сервера любая подсистема, поддерживающая блокировку строк, напритмер InnoDB, реализует
собственный механизм блокировок**

**3)Виды блокировок, используемых самим сервером MySQL**
*Табличные блокировки:*
Таблицы можно блокировать, устанавливая явные блокировки чтения и записи. Табличные блокировки могут быть явными и неявными.
Явная блокировка захватывается командой LOCK TABLES:
mysql> LOCK TABLES posts READ;

Если затем в другом сеансе выполнить показанную ниже команду, то запрос «повиснет» и не завершится:
mysql> LOCK TABLES users WRITE;

На первом соединении можно видеть ожидающий поток:

mysql> show processlist\G;
*************************** 1. row ***************************
Id: 3223
User: root
Host: localhost
db: meetoo
Command: Query
Time: 0
State: NULL
Info: show processlist
*************************** 2. row ***************************
Id: 3224
User: root
Host: localhost
db: meetoo
Command: Query
Time: 215
State: Waiting for global read lock
Info: LOCK TABLES users WRITE
2 rows in set (0.00 sec)


*Глобальные блокировки:*
Существует единственная глобальная блокировка, захватываемая
командой FLUSH TABLES WITH READ LOCK.

*Блокировки на имя:*
Блокировка на имя – это разновидность табличной блокировки, которую сервер захватывает, когда переименовывает или удаляет
таблицу.

*Пользовательские блокировки (user lock или string lock):*
Можно захватить и  освободить блокировку на произвольную строку на уровне сервера, воспользовавшись функцией GET_LOCK() и
родственными ей.













