Представим, что стоит задача написать генератор отчетов. Формат отчетов должен быть HTML.
Мы бы могли написать следующее:

class Report
    def initialize
        @title = 'Отчет за месяц'
        @text  = ['Дела идут очень хорошо', 'Даже очень хорошо', 'Всем спасибо']
    end

    def output_report
        puts "<html>"
        puts "<head>"
            puts "<title>#{@title}</title>"
            puts "</head>"
        puts "<body>"

        @text.each do |line|
        puts "<p>#{line}</p>"
        end

        puts '</body>'
        puts '</html>'
    end
end

Используем:
report = Report.new
report.output_report

Данный пример немного отдален от реальности(для легкости примера), в настроящем приложении вы бы врятли захардкодили
заголовок и текст в коде класса, а брали из БД или из файла.

Теперь представим, что к данному генератору добавилось еще 2 требования:
-он должен уметь выводить информацию, как в html формате, так и обычным текстомч
-жолжна быть возможность добавить поскриптум к отчему

Быстрое решение с реализацией первого требования:

class Report
    def initialize
        @title = 'Отчет за месяц'
        @text  = ['Дела идут очень хорошо', 'Даже очень хорошо', 'Всем спасибо']
    end


    def output_report(format)
        if format == :plain
            puts "*** #{@title} ***"
        elsif format == :html
            puts "<html>"
            puts "<head>"
            puts "<title>#{@title}</title>"
            puts "</head>"
            puts "<body>"
        else
            raise "Unknown format: #{format}"
        end

        @text.each do |line|
            if format == :plain
                puts line
            else
                puts "<p>#{line}</p>"
            end
        end

        if format == :html
            puts " </body>"
            puts "</html>"
        end
    end
end

Выходит всего вторая версия программы и уже такой беспорядок в коде. Все из-за того, что логика генерации в двух форматах
находится в одном месте. А если нам понадобиться добавить еще 2 формата? А если больше?
С таким подходом с каждым новым форматом, в код будет добавляться новая условная логика и становиться
все ужаснее и ужаснее. Еще большой минус, что добавляя новый формат мы рискуем поломать остальной код, который отвечает
за вывод в других форматах. Таким образом мы нарушаем один из принципов шаблонов проектирования.
`Смешиваем код, который меняется с кодом, который не меняется.`

**Отделите вещи, которые остаются неизменными**

Как выход из этой ситуации, мы должны разделить код различных форматов. Важн опонимать, что не зависимо от формата,
генератор должен выполнить одни и теже действия:
-вывести заголовочную информацию согласно формату
-вывести заголовок
-вывести каждую строку содержания данного отчета
-вывести конечную информацию

Пользуясь возможностями ООП, мы можем создать абстрактный, базовый класс




