2012 год был отличным для php сообщества, благодаря добавленным, нужным фичам в версии 5.4, а так же многочисленным
проектам, которые двигают PHP на новый уровень.
В этой статье я хотел бы рассмотреть несколько проблем с которыми сталкивалось PHP сообщество ранее и пояснить
почему 2013 год может быть годом PHP.

Откуда такая неприязнь к PHP:

Это может быть для вас сюрпризом, но множество людей негативно относится к PHP разработчикам, и к самому
языку в частности. Вы понимаете о чем я, если вы например решили перейти например на Ruby или другой язык из-за давления
со стороны ненавистников PHP.

Однако перед тем как что-то менять, задайте себе вопрос "Почему на PHP такое пятно"

Но как и во многих жизненных вопросах, на этот вопрос не существует ясного и краткого ответа.
Поискав аргументы в интернете, вы можете заметить, что 80% из них - это просто неаргументированное невежество в той или иной форме.

**Новички**
Я имею ввиду тех, кто в действительности не знает как работает PHP. Это приводит к таким вопросам как:
"Почему мы не можем обработать событие нажатия на кнопку на PHP?" и подобным вопросам связанным с AJAX.

**Те кем правит один язык**
Эти люди не знают больше никакого языка программирования или фреймворка, кроме того единственного, который они используют
повседневно.
От них можно слышать, что-то вроде "Rails намного легче PHP" и так далее.

**Борьба с PHP 4**
Эти заблуждения происходят от людей, которые не следят за развитием PHP на протяжении многих лет и продолжают пенять на язык,
которого уже нет как такового.
И вы можете услышать от них что-то вроде: "PHP не объектно-ориентированный" или "PHP отстой так как не поддерживатет пространства имен".

**Масштабирование**
И наконец существует много хороших программистов которые думают и верят что PHP не поддается маштабированию или в PHP нет стандартов.
Они вкорне не правы.

Lastly, we have the more intelligent developers who believe that “PHP can’t scale” or “PHP has no standards,” which is completely false.
Scaling has less to do with the language,
and more with the server and how your app is structured. As for standards? Well, it only takes a quick Google search for PHP-FIG.

Возможность маштабирования не столько связана с языком, сколько с сервером или аржитектурой вашего приложения.
Что касается стандартов? Просто загуглите по запросу "PHP-FIG"


**PHP не идеален**
There’s truth in every criticism, however. PHP isn’t perfect. When it comes to its implementation of core features and functions,
PHP is inconsistent. These arguments are entirely valid.

These inconsistencies are not without reason, though. PHP started out as what we would refer to today as a templating language.
Since then, it has gone through multiple paradigm shifts, transforming into a functional language, like C, and then to the fully OOP
language that we enjoy today. Along the way, best practices have emerged, and different people have been in control of what is added.
This results in a lot of “different” kinds of code in one language. Now you might ask, “Why not just deprecate the bad parts?“

The answer to this question is the same as to why we are still building sites for old versions of Internet Explorer. Don’t get me wrong;
I would love to just drop it, but massive changes like this can’t be done without a bit of time. Hopefully, over time,
PHP will advance further into OOP, and begin converting its objects to use their functions with the dot notation,
rather than the admittedly awkward -> syntax. So, instead of array_push($arr, "Value");, you would write something,
like $arr.push("Value");.

Don’t worry; things like this have been happening slowly. Just look at the new PHP 5.5 features.
The old function-oriented MySQL add-on has been deprecated, in favor of the newer object-oriented approach.










