В этом туториале, автор показывает как сделать процесс написания тестов элегантным, используя Composer и пространства имен.

Будут так же рассмотрены некоторые лучшие практики тестирования с PHPUnit.

<iframe width="640" height="480" src="http://www.youtube.com/embed/84j61_aI0q8?rel=0" frameborder="0" allowfullscreen></iframe>

<a href="http://tutsplus-media.s3.amazonaws.com/net.tutsplus.com/video/Composer-Autoload-Namespacing-and-PHPUnit.mp4">скачать видео</a>
<a href="https://github.com/NETTUTS/PHPUnit-and-Composer-Workflow">скачать исходники</a>