.container h1 {
    margin-bottom: 20px;
}

.container input[type=text], .container textarea, .field_with_errors, select {
    width: 98% !important;
}

.field_with_errors {
    background: none !important;
}

#error_explanation {
    border: 1px solid #CC0000 !important;
}

#error_explanation ul {
    margin-top: 10px;
}

.page {
    margin-bottom: 30px;
}

.btn {
    color: #ffffff !important;
}

.page hgroup {
    margin-top: 5px;
}

.label {
    min-width: inherit !important;
    min-height: inherit !important;
}

h1 a:hover {
    background-color: inherit !important;
}

.comment-header {
    margin-bottom: 5px;
}

.page-image {
    float: left;
    margin-right: 10px;
    margin-bottom: 3px;
}

h1 {
    font-size: 30px !important;
}


#content a:not(.btn) {
    color: #44413d !important;
    text-decoration: underline;
}
#content a:hover:not(.btn) {
    color: #1c1a19 !important;
    text-decoration: none;
}

.alert {
    margin-top: 20px;
}

.navbar-inner {
    height: 40px !important;
    min-height: 40px !important;
}

.navbar .nav > li > a {
    padding: 5px 15px !important;
    font-weight: bold;
    font-size: 13px !important;
}

body {
    background-color: white !important;
}
