<div class="author">
    <%= image_tag 'me_2.jpg', class: 'img-polaroid', width: 190 %>
    <%= link_to 'Code School badges', :badges, :class => 'underline'  %>
    <ul class="contact-list">
      <li>
        <a href="skype:+7 965 193-52-32?call" class="contact phone">+7 965 193-52-32</a>
      </li>
      <li>
        <a href="skype:artemostapetc?call" class="contact skype">artemostapetc</a>
      </li>
      <li>
        <a href="mailto:artemostapetc@gmail.com" class="contact email">artemostapetc@gmail.com</a>
      </li>
      <li>
        <a href="http://www.facebook.com/profile.php?id=1089098831" class="contact facebook">Артем Остапец</a>
      </li>
    </ul>
</div>